/* ./CSS/Styles.css */

/* Menyesuaikan font family dan menambahkan style bold pada Poppins */
.main-nav, .logo, .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; /* Menambahkan style bold */
  }
  
  .main-nav {
    background-color: transparent;
    padding: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #000000;
    margin-left: 40px;
    font-size: 30px;
  }
  
  .main-nav ul {
    display: flex;
    list-style: none;
    margin-right: 8%;
    margin-top: 1%;
  }
  
  .main-nav li {
    margin: 14px;
  }
  
  .main-nav .nav-link {
    color: #000000;
    text-decoration: none;
  }
  
  .main-nav .nav-link:hover,
  .main-nav .active-link {
    color: #00d6d3;
  }
  